In [1]:
#bibliotecas
import pandas as pd

In [2]:
#carregar dataset
data = pd.read_csv('plastic-waste-emitted-to-the-ocean-per-capita.csv')

In [5]:
#Infos do dataset
print(data.head())
print(data.info())
print(data.describe())
print(data.columns)

               Country  Year  PlasticEmittedPerCapita
0               Africa  2019                 0.059823
1              Albania  2019                 0.543214
2              Algeria  2019                 0.134114
3               Angola  2019                 0.027023
4  Antigua and Barbuda  2019                 0.020619
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165 entries, 0 to 164
Data columns (total 3 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country                  165 non-null    object
 1   Year                     165 non-null    int64
 2   PlasticEmittedPerCapita  165 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 4.0+ KB
None
         Year  PlasticEmittedPerCapita
count   165.0               165.000000
mean   2019.0                 0.207275
std       0.0                 0.506395
min    2019.0                 0.000000
25%    2019.0                 0.002536
50%    2019.0                 0.023690
75%    2019.0                 0.156794
max    2019.0                 3.296161
Index(['Country', 'Year', 'PlasticEmittedPerCapita'], dtype='object')

In [4]:
#alterações no dataset
data.rename(columns={'Entity': 'Country'}, inplace=True)
data.rename(columns={'Mismanaged plastic waste to ocean per capita (kg per year)': 'PlasticEmittedPerCapita'}, inplace=True)

In [6]:
#visualizações dos dados
data['Country'].unique()

array(['Africa', 'Albania', 'Algeria', 'Angola', 'Antigua and Barbuda',
       'Argentina', 'Asia', 'Australia', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belgium', 'Belize', 'Benin',
       'Bosnia and Herzegovina', 'Brazil', 'Brunei', 'Bulgaria',
       'Burkina Faso', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cyprus',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'East Timor', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Europe',
       'Fiji', 'Finland', 'France', 'French Guiana', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guadeloupe',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hong Kong', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Madagascar',
       'Malaysia', 'Maldives', 'Malta', 'Marshall Islands', 'Martinique',
       'Mauritania', 'Mauritius', 'Mexico', 'Monaco', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Nigeria', 'North America',
       'North Korea', 'Norway', 'Oceania', 'Oman', 'Pakistan', 'Palau',
       'Palestine', 'Panama', 'Papua New Guinea', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Reunion', 'Romania',
       'Russia', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Seychelles',
       'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Korea',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Syria',
       'Taiwan', 'Tanzania', 'Thailand', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Venezuela', 'Vietnam', 'Western Sahara', 'World',
       'Yemen', 'Zimbabwe'], dtype=object)

In [11]:
regions = [
    "Africa",
    "Asia",
    "Europe",
    "North America",
    "Oceania",
    "World"
]



# separar datasets
df_regions = data[data["Country"].isin(regions)].copy()
df_countries = data[~data["Country"].isin(regions)].copy()

# guardar CSVs
df_countries.to_csv("percapita_countries.csv", index=False)
df_regions.to_csv("percapita_regions.csv", index=False)

In [12]:
#df_countries["Country"].unique()

df_regions["Country"].unique()

array(['Africa', 'Asia', 'Europe', 'North America', 'Oceania', 'World'],
      dtype=object)

In [2]:
data1 = pd.read_csv('owid_plastic_final.csv')

In [3]:
data1.head()

,Country,Year,PlasticEmittedToOcean,PlasticEmittedPerCapita,ProbabilityEnterOcean,MismanagedPlastic
0,Albania,2019,1565.0,0.543214,1.56,NaN
1,Algeria,2019,5774.0,0.134114,0.09,NaN
2,Angola,2019,860.0,0.027023,0.09,NaN
3,Antigua and Barbuda,2019,2.0,0.020619,3.08,NaN
4,Argentina,2019,4137.0,0.092383,0.26,NaN

In [5]:
data1['Year'].unique()

array([2019, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
       2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018])